html {
    background-color: #121212;
}

canvas, button, .select-wrapper {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

button {
    margin-top: 2rem;
    padding: 0.5rem;
    width: 10rem;
    background-color: black;
    border-radius: 0.2rem;
    border: 1px solid gray;
    cursor: pointer;
}

button:hover {
    background-color: rgb(26, 26, 26);
}

.select-wrapper {
    width: 10rem;
    margin-top: 2rem;
}

select {
    appearance: none;
    -webkit-appearance: none;
    padding: 0.4rem;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    background-color: black;
    border: 1px solid gray;
    border-radius: 0.25rem;
    color: gray;
    cursor: pointer;
}